In [2]:
pip install pyspark

Collecting pyspark
  Using cached pyspark-4.0.1-py2.py3-none-any.whl
Requirement already satisfied: py4j==0.10.9.9 in c:\users\vijey.anbarasan\miniconda3\envs\py313\lib\site-packages (from pyspark) (0.10.9.9)
Installing collected packages: pyspark
Successfully installed pyspark-4.0.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pyspark

In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.3.3-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vijey.anbarasan\miniconda3\envs\pyspark_env\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\vijey.anbarasan\miniconda3\envs\pyspark_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp311-cp311-win_amd64.whl (11.3 MB)
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.3 MB 8.4 MB/s eta 0:00:02
   ------------ --------------------------- 3.7/11.3 MB 10.4 MB/s eta 0:00:01
   ------------------------ --------------- 6.8/11.3 MB 12.0 MB/s eta 0:00:01
   ------------------------------- -------- 8.9/11.3 MB 12.3 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.3 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 11.3/11.3 MB 11.1 MB/s  0:00:01
Downloading numpy-2.3.3-cp311-cp311-win_amd64.whl (13.1 MB)
   ---------------------------------------- 0.0/13.1 MB ? eta -:--:--
   ------- -------------------------------- 2.4/13.1 MB 10.3 MB/s eta 0:00:02
   ----------------- ---------------------- 5.8/13.1 MB 13.6 MB/s eta 0:00:01
   ------------------------ --------------- 7.9/13.1 MB 13.2 MB/s eta 0:00:01
   -------------------------------- ------- 10.5/13.1 MB 12.1 MB/s eta 0:00:01
   ---------------------------------------  12.8/13.1 MB 12.0 MB/s eta 0:00:01
   ---------------------------------------- 13.1/13.1 MB 11.9 MB/s  0:00:01
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ---------------------------------------- 4/4 [pandas]

Successfully installed numpy-2.3.3 pandas-2.3.2 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
pd.read_csv("test1 - Sheet1.csv")

    Name  Age
0   Andy   22
1  Sandy   25
2  Mandy   33

In [10]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [11]:
spark

In [12]:
df_pyspark = spark.read.csv('test1 - Sheet1.csv')

In [13]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [14]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
| Andy| 22|
|Sandy| 25|
|Mandy| 33|
+-----+---+

In [18]:
df_pyspark = spark.read.option('header', 'true').csv('test1 - Sheet1.csv')

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [24]:
df_pyspark.head(2)

[Row(Name='Andy', Age='22'), Row(Name='Sandy', Age='25')]

In [25]:
df_pyspark.tail(1)

[Row(Name='Mandy', Age='33')]

In [28]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

#### Pyspark Dataframe

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName("Dataframe").getOrCreate()

In [4]:
spark

In [5]:
##read the dataset
## WAY 1 - using .option()
df_pyspark=spark.read.option('header','true').csv('test1 - Sheet1.csv')

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- City: string (nullable = true)

In [38]:
## WAY 2 - without using .option()
## This is just a shortcut / Pythonic wrapper around .option().
## Internally, header=True is converted to .option("header", "true").
## we can directly pass Python booleans (True, False) instead of strings.

df_pyspark=spark.read.csv('test1 - Sheet1.csv',header=True,inferSchema=True)

## in way1: df_pyspark=spark.read.option('header','true').option("inferSchema", "true").csv('test1 - Sheet1.csv')

#when need to check the datatype of a column, we use inferSchema.....and by default its STRING)

In [39]:
df_pyspark.show()

+-------+---+----------+---------+
|   Name|Age|Experience|     City|
+-------+---+----------+---------+
|   Andy| 25|         3| New York|
|  Sandy| 27|         5|San Diego|
|  Mandy| 30|         9|     Rome|
|  Yandy| 33|        11|    Paris|
|Kennedy| 22|         1|  Madurai|
+-------+---+----------+---------+

In [10]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- City: string (nullable = true)

In [12]:
## type
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

#### Selecting Column and Indexing

In [7]:
df_pyspark.columns

['Name', 'Age', 'Experience', 'City']

In [8]:
df_pyspark.head(2)

[Row(Name='Andy', Age='25', Experience='3', City='New York'),
 Row(Name='Sandy', Age='27', Experience='5', City='San Diego')]

In [9]:
df_pyspark.tail(2)

[Row(Name='Yandy', Age='33', Experience='11', City='Paris'),
 Row(Name='Kennedy', Age='22', Experience='1', City='Madurai')]

In [10]:
df_pyspark.show()

+-------+---+----------+---------+
|   Name|Age|Experience|     City|
+-------+---+----------+---------+
|   Andy| 25|         3| New York|
|  Sandy| 27|         5|San Diego|
|  Mandy| 30|         9|     Rome|
|  Yandy| 33|        11|    Paris|
|Kennedy| 22|         1|  Madurai|
+-------+---+----------+---------+

#### Selecting Column

In [11]:
df_pyspark.select('Name','Age')

DataFrame[Name: string, Age: string]

In [12]:
df_pyspark.select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|   Andy| 25|
|  Sandy| 27|
|  Mandy| 30|
|  Yandy| 33|
|Kennedy| 22|
+-------+---+

In [13]:
type(df_pyspark.select('Name','Age'))

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark['Name']

Column<'Name'>

In [19]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- City: string (nullable = true)

In [20]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('City', 'string')]

In [21]:
## desc function similar to pandas
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string, City: string]

In [22]:
df_pyspark.describe().show()

+-------+-----+-----------------+-----------------+---------+
|summary| Name|              Age|       Experience|     City|
+-------+-----+-----------------+-----------------+---------+
|  count|    5|                5|                5|        5|
|   mean| NULL|             27.4|              5.8|     NULL|
| stddev| NULL|4.277849927241488|4.147288270665544|     NULL|
|    min| Andy|               22|                1|  Madurai|
|    max|Yandy|               33|               11|San Diego|
+-------+-----+-----------------+-----------------+---------+

In [23]:
#### adding columns in dataframe
df_pyspark.withColumn("Experience after 2 years", df_pyspark['Experience']+2).show()

+-------+---+----------+---------+------------------------+
|   Name|Age|Experience|     City|Experience after 2 years|
+-------+---+----------+---------+------------------------+
|   Andy| 25|         3| New York|                       5|
|  Sandy| 27|         5|San Diego|                       7|
|  Mandy| 30|         9|     Rome|                      11|
|  Yandy| 33|        11|    Paris|                      13|
|Kennedy| 22|         1|  Madurai|                       3|
+-------+---+----------+---------+------------------------+

In [24]:
# the above column add doesn't refelct.
# if needed, assign a varibale to the withcolumn

In [25]:
df_pyspark=df_pyspark.withColumn("Experience after 2 years", df_pyspark['Experience']+2)

In [26]:
df_pyspark.show()

+-------+---+----------+---------+------------------------+
|   Name|Age|Experience|     City|Experience after 2 years|
+-------+---+----------+---------+------------------------+
|   Andy| 25|         3| New York|                       5|
|  Sandy| 27|         5|San Diego|                       7|
|  Mandy| 30|         9|     Rome|                      11|
|  Yandy| 33|        11|    Paris|                      13|
|Kennedy| 22|         1|  Madurai|                       3|
+-------+---+----------+---------+------------------------+

In [27]:
df_pyspark.drop('Experience after 2 years').show()

+-------+---+----------+---------+
|   Name|Age|Experience|     City|
+-------+---+----------+---------+
|   Andy| 25|         3| New York|
|  Sandy| 27|         5|San Diego|
|  Mandy| 30|         9|     Rome|
|  Yandy| 33|        11|    Paris|
|Kennedy| 22|         1|  Madurai|
+-------+---+----------+---------+

In [28]:
df_pyspark=df_pyspark.drop('Experience after 2 years')

In [37]:
df_pyspark.show()

AttributeError: 'NoneType' object has no attribute 'show'

In [34]:
#### Rename the column

In [40]:
df_pyspark=df_pyspark.withColumnRenamed("Experience", "Years of Exp")

In [41]:
df_pyspark.show()

+-------+---+------------+---------+
|   Name|Age|Years of Exp|     City|
+-------+---+------------+---------+
|   Andy| 25|           3| New York|
|  Sandy| 27|           5|San Diego|
|  Mandy| 30|           9|     Rome|
|  Yandy| 33|          11|    Paris|
|Kennedy| 22|           1|  Madurai|
+-------+---+------------+---------+